.header 
   i.fa.fa-exchange.fa-lg.icon-header.toggle-sidebar
   .dropdown.notifications-container
      i.fa.fa-bell.fa-lg.icon-header.toggle-notifications#notifications(data-bs-toggle='dropdown' aria-expanded='false')
      ul.dropdown-menu(aria-labelledby='notifications')
         .noti-head 
            | Notifications 
            span 50
         .noti-content
            ul.list-unstyled
               li 
                  i.fa.fa-envelope-o.fa-lg 
                  | You Got Email From bla bla bla .....
               li 
                  i.fa.fa-money.fa-lg 
                  | You Got Email From bla bla bla .....
               li 
                  i.fa.fa-thumbs-o-up.fa-lg 
                  | You Got Email From bla bla bla .....
               li 
                  i.fa.fa-envelope-o.fa-lg 
                  | You Got Email From bla bla bla .....
               li 
                  i.fa.fa-money.fa-lg 
                  | You Got Email From bla bla bla .....          
         .noti-foot
            a(href="#") 
               | Veiw All Notifications  
   i.fa.fa-expand.icon-header.fa-lg.toggle-fullscreen