$themes: (
   green-theme: (
      color: #28af60,
   ),
   blue-theme: (
      color: #2980b9,
   ),
   red-theme: (
      color: #c0392b,
   ),
   orange-theme: (
      color: #d35400,
   ),
   purple-theme: (
      color: #8e44ad,
   ),
);

@each $theme, $map in $themes {
   .#{$theme} {
      .page .page-head .page-title {
         color: map-get($map, color);
      }
   }
}

// Code Illustration ======================================================================
// the idea here is to create five or more themes(color styles) for all elements in the page
// and switch between depending on the a class value on the body.
// @each $theme, $map in $themes {
//    .#{$theme} {
//       .className {
//          color: map-get($map, color);
//       }
//    }
// }

// #{$theme} => get the name of this element in the loop.
// map-get($map, color) => get the value of this property into the map of this element.
// ========= Css result: ===============
// .green-theme {   // this will be the parent class (body)
//    .className {  // this will be the child class (elements inside the body)
//       color: #27ae60;
//    }
// }
//
// .blue-theme {
//    .className {
//       color: #2980b9;
//    }
// }
//  ...... and so on
