.header {
   background-color: #fff;
   padding: 20px;
   .icon-header {
      background-color: #f9f9f9;
      border-radius: 50%;
      padding: 10px;
      color: #555;
      margin-left: 10px;
      cursor: pointer;
   }
   .toggle-sidebar {
      cursor: pointer;
   }
   .notifications-container {
      display: inline-block;
      margin-left: 20px;
      .dropdown-menu {
         top: 10px !important;
         min-width: 600px;
         border: none;
         position: relative;
         padding: 0;
         &::before {
            position: absolute;
            content: "";
            top: -18px;
            left: 11px;
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent #333 transparent;
         }
         .noti-head {
            background-color: #333;
            color: #fff;
            padding: 15px;
            span {
               float: right;
            }
         }
         .noti-content {
            padding: 15px;
            ul {
               li {
                  padding: 10px;
                  i {
                     background-color: #eee;
                     border: 1px solid #aaa;
                     border-radius: 3px;
                     text-align: center;
                     width: 45px;
                     height: 45px;
                     line-height: 45px;
                     position: relative;
                     top: -6px;
                     margin-right: 10px;
                  }
               }
            }
         }
         .noti-foot {
            text-align: center;
            a {
               display: block;
               padding: 15px;
               border-top: 1px solid #333;
               text-decoration: none;
            }
         }
      }
   }
   .usermenu-container {
      float: right;
      .username {
         cursor: pointer;
         .avatar {
            width: 50px;
            height: 50px;
         }
         .user {
            font-weight: bold;
            margin-left: 10px;
            margin-right: 10px;
            color: #777;
         }
      }
      .dropdown-menu {
         top: 10px !important;
         min-width: 600px;
         border: none;
         position: relative;
         padding: 20px;
         border: 1px solid #333;
         &::before {
            position: absolute;
            content: "";
            top: -20px;
            right: 11px;
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent #333 transparent;
         }
         .user-info {
            h3 {
               font-weight: bold;
            }
            p {
               color: #777;
            }
         }
         .activities-list {
            li {
               padding: 10px;
            }
         }
         .usermenu-links {
            .link-box {
               background-color: #fdfdfd;
               padding: 10px;
               text-align: center;
               display: flex;
               justify-content: space-evenly;
               align-items: center;
               font-weight: bold;
               border-radius: 10px;
               border: 1px solid #e8e8e8;
               i.fa-gear {
                  color: #574caf;
               }
               i.fa-user {
                  color: #4caf50;
               }
               i.fa-power-off {
                  color: #af4c4c;
               }
            }
         }
      }
   }
}
