.settings-box.hide-settings 
   .toggle-settings: i.fa.fa-gear.fa-lg
   .settings-content 
      .option-box.color-options 
         h4.option-title Color Options
         //- make list of values, then loop to add this values for attr[data-theme] for each li
         - var themes = ["green-theme", "blue-theme", "red-theme", "orange-theme", "purple-theme"]
         ul.list-unstyled
            each t in themes
               li(data-theme = t)
      .option-box.font-options 
         h4.option-title Font Options
         //- make list of values, then loop to add this values for attr[data-theme] for each li
         - var fonts = ["montserrat", "open-sans", "poppins", "roboto"]
         ul.list-unstyled.font-list
            each f in fonts
               li.font-item(data-font = f) #{f}
      .option-box
         h4.option-title Sidebar Options
